{% extends "account/base.html" %}

{% load i18n %}

{% block css %}

<title>{% trans "Account Inactive" %} - Be The Best</title>

{% endblock %}


{% block content %}

<main>

  <section class="auth_page">

    <div class="container">

      <div class="desc">

        <h1>{% trans "Account Inactive" %}</h1>

        <p>{% trans "This account is inactive." %}</p>
        <a href="{% url 'btb:home' %}" class="btn btn-home">Go Home</a>

      </div>


    </div>
  </section>
  

</main>
{% endblock %}
