{% extends "account/base.html" %}

{% load i18n %}

{% load crispy_forms_tags %}
{% block css %}
<title>Change Password- Be The Best</title>
{% endblock %}
{% block content %}

<main>

    <section class="auth_page">
  
      <div class="container">
  
        <div class="desc">
            <h1>{% trans "Change Password" %}</h1>
  
  
        </div>
<div class="auth_form">
 

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change login">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-login" name="action">{% trans "Change Password" %}</button>
    </form>
</div>
      </div>
    </section>
    
  
  </main>


{% endblock %}
