{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
 <meta name="theme-color" content="#FFA500">

 {% block css %}

 {% endblock %}
    
    <link rel="stylesheet" href="{% static 'fontawesome-free-5.10.0-web/css/all.css' %}" />
    <link rel="stylesheet" href="{% static 'fontawesome-free-5.10.0-web/css/fontawesome.css' %}" />
    <link rel="stylesheet" href="{% static 'fontawesome-free-5.10.0-web/webfonts' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'font/flaticon.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'font/flaticon.woff' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'font/flaticon.woff2' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'font/flaticon.eot' %}" />
</head>

<body>


    {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

{% include "navbar.html" %}

{% block content %}


{% endblock content %}



</body>

</html>