<footer>

    <div class="container">

        <ul class="footer-container">
            <li class="footer_link">

                <a href="#">Term of Play</a>
            </li>
            <li class="footer_link">

                <a href="#">Term of Play</a>
            </li>
            <li class="footer_link">

                <a href="#">Term of Play</a>
            </li>
            <li class="footer_link">

                <a href="#">Term of Play</a>
            </li>
        </ul>
    </div>
</footer>