{% extends 'base.html' %}
{% load static %}

{% block css %}
<title>Home - BTB</title>

{% endblock css %}
{% block content %}



<main>

    <section class="hero">
        <div class="container">
            <h1>Win Your Dream Car</h1>
            <a href="{% url 'btb:cars' %}" class="btn btn-home">Enter Now</a>

        </div>
    </section>

    <section class="works">

        <div class="container">

            <div class="title">


                <h1>How Does It Work</h1>
            </div>

            <div class="work_cover">

                <div class="works_box">

                    <img src="{% static 'images/logo.svg' %}" alt="">
                    <h1>Tickets from 15p</h1>
                    <p>150 Cars
                        & 200 Lifestyle prizes to win</p>
                </div>
                <div class="works_box">

                    <img src="{% static 'images/logo.svg' %}" alt="">
                    <h1>Tickets from 15p</h1>
                    <p>150 Cars
                        & 200 Lifestyle prizes to win</p>
                </div>
                <div class="works_box">

                    <img src="{% static 'images/logo.svg' %}" alt="">
                    <h1>Tickets from 15p</h1>
                    <p>150 Cars
                        & 200 Lifestyle prizes to win</p>
                </div>
            </div>

            <div class="work_button">
                <a href="{% url 'btb:cars' %}" class="btn btn-home">Enter Now</a>
            </div>
        </div>
    </section>

    <!-- <section class="winners">

        <div class="container">

            <div class="title">
                <h1>Weekly Winners</h1>
            </div>

            <div class="winner_cover">

                <div class="winner_box">

                    <img src="{% static 'images/dc3320-kfi.jpg' %}" alt="">

                    <h1>Andrew Boyle</h1>
                    <h3>Tesla Model 3 Standard Range + £20k</h3>
                    <p>Winner #541 - (17 - 23 Aug 2020)</p>
                </div>
                <div class="winner_box">

                    <img src="{% static 'images/dc3320-kfi.jpg' %}" alt="">

                    <h1>Andrew Boyle</h1>
                    <h3>Tesla Model 3 Standard Range + £20k</h3>
                    <p>Winner #541 - (17 - 23 Aug 2020)</p>
                </div>
                <div class="winner_box">

                    <img src="{% static 'images/dc3320-kfi.jpg' %}" alt="">

                    <h1>Andrew Boyle</h1>
                    <h3>Tesla Model 3 Standard Range + £20k</h3>
                    <p>Winner #541 - (17 - 23 Aug 2020)</p>
                </div>
            </div>
        </div>
    </section> -->

    <section class="what_say">
        <div class="container">
            <div class="say_image">
                <img src="{% static 'images/about.png' %}" alt="">
            </div>
            <div class="say_text">
                <h3>ATHENA UI KIT TEMPLATE</h3>
                <h1>What They Say
                    About Us?</h1>
                <p>The best years of your life are the ones in which you decide your problems are your own. You do not
                    blame them on your mother, the ecology, or the president. You realize that you control your own
                    destiny.</p>
                <a href="#" class="btn btn-home">Learn More</a>
            </div>
        </div>
    </section>
    <section class="what_say">
        <div class="container">
      
            <div class="say_text">
                <h3>ATHENA UI KIT TEMPLATE</h3>
                <h1>What They Say
                    About Us?</h1>
                <p>The best years of your life are the ones in which you decide your problems are your own. You do not
                    blame them on your mother, the ecology, or the president. You realize that you control your own
                    destiny.</p>
                <a href="#" class="btn btn-home">Learn More</a>
            </div>

            <div class="say_image">
                <img src="{% static 'images/about.png' %}" alt="">
            </div>
        </div>
    </section>
</main>





{% endblock content %}